.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 0 24px;
  background-color: #3897f0;
  border: none;
  color: white;
  border-radius: 3px;
  margin-right: 8px;
  cursor: pointer;
  font-weight: 300
}

.action-button:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  transition: all .5s
}

.action-button-icon {
  width: 14px;
  height: 14px;
  margin-right: 5px
}

.action-button-link {
  text-decoration: none
}