.wsp-floating-btn {
  display: block;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #3897f0;
  border-radius: 50%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

}

.wsp-floating-btn-logo {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  transform: scale(0.7, 0.7)
}