.header {

  border-bottom: 1px solid #f1f1f1;
  background-color: white;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  font-family: 'Lobster', cursive;
  align-items: center;
  z-index: 3;
  top: 0;
  position: fixed
}

.content-wrapper {
  max-width: 1010px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 26px;
  height: 36px;
  display: flex;
  align-items: center;
  flex-direction: row
}

.header-bar {
  height: 28px;
  width: 1px;
  margin: 0 16px
}

.header-logo {
  width: 24px;
  height: 24px;
  margin-right: 5px
}



.header-link {

  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .header-title {
  font-size: 29px;
} */

.no-header-title {
  display: none
}

.header-subtitle {
  color: #bc1888;
}

@media screen and (max-width:650px) {
  .header-title {
    font-size: 20px
  }

}