.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  background-color: white
}

.footer-border {
  height: 2px;
  width: 100%;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%)
}

.footer-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly
}

.footer-link {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-logo {
  width: 24px;
  height: 24px;
}

.footer-title {
  font-size: 29px;
  font-family: 'Lobster', cursive;

}

.footer-contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;


}

.footer-contact {
  font-weight: 600;
  font-size: 16px
}

.footer-phone {
  font-size: 16px
}

.footer-development-section {
  width: 250px;
  text-overflow: clip;
  display: flex;
  flex-wrap: wrap
}

.footer-link-tatiana {
  text-decoration: none;
  color: #bc1888
}

@media screen and (max-width:770px) {

  .footer-container {
    height: auto;
    padding-bottom: 20px
  }


  .footer-info-container {
    flex-direction: column
  }

  .footer-development-section {
    text-align: center;
    padding-top: 10px
  }


}