.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: no-repeat center;
  background-size: cover;

}

.photo-white-space {
  height: 160px;
  width: 160px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.photo-border {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 166px;
  width: 166px;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%)
}