.call-action-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: 10px
}

.call-action-contact {
  line-height: 32px;
  font-size: 28px;
  /* font-weight: 300; */
  color: #262626;
  font-family: "Segoe UI light"
}

.call-action-buttons-container {
  display: flex;
  flex-direction: row
}

@media screen and (max-width:650px) {
  .call-action-section {
    flex-direction: column;
    margin-top: 10px
  }

  .call-action-buttons-container {
    margin-top: 10px
  }
}