.input-form-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  padding-top: 15px
}

.input-form {
  background: white;
  padding: 17px;
  font-size: 18px;
  font-family: Arial;
  /* max-width: 300px; */
  border-radius: 10px;
  border: 1px solid #ccc9c9;

  outline: 0;
  transition: .2s;
  /* box-shadow: 2px 2px 5px rgba(0,0,0,.2); */
}

.input-form:focus {
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.2);

}

.input-form-title {

  color: black;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif
}

@media screen and (max-device-width:650px) {

  .input-form-container {
    width: 280px
  }

  .input-form-title {
    font-size: 12px;
    line-height: 16px
  }
}