.separator {
  height: 1px;
  background-color: #efefef;
  width: 830px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px
}


@media screen and (max-width:768px) {
  .separator {
    width: 680px
  }
}

@media screen and (max-width:700px) {
  .separator {
    width: 580px
  }
}

@media screen and (max-width:600px) {
  .separator {
    width: 300px
  }
}