.description-information-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #262626;
  margin-left: 60px
}

.description-information-statistics {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-bottom: 15px
}

.statistic {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin: 5px;
  margin-left: 0px;
  margin-right: 10px
}

.statistic-number {
  font-weight: 600;
  margin-right: 5px
}

.description-information-personal-data {
  display: flex;
  flex-direction: column;

}

.personal-data-name {

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

}

.personal-data-career {
  font-size: 16px;
  line-height: 24px;

}

.personal-data-phone {
  font-size: 16px;
  line-height: 24px;

}

@media screen and (max-width:650px) {
  .description-information-statistics {
    flex-direction: column
  }

  .description-information-container {
    margin-left: 0px
  }
}