.each-product-image {
  width: 270px;
  height: 270px;
  background: no-repeat center;
  background-size: cover;
  cursor: pointer;

}

.each-product-hover {
  background: linear-gradient(45deg, #f0953396 0%, #e6693ca1 25%, #dc27428f 50%, #cc236798 75%, #bc188894 100%);
  height: 270px;

}

/* .each-product-image:hover .each-product-hover {

  background: linear-gradient(45deg, #f0953396 0%, #e6693ca1 25%, #dc27428f 50%, #cc236798 75%, #bc188894 100%);
  transition: all ease-in-out 0.5s;
  width: 270px;
  height: 270px;
} */

@media screen and (max-width:890px) and (min-width : 820px) {
  .each-product-image {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width:819px) and (min-width : 768px) {
  .each-product-image {
    width: 220px;
    height: 220px;
  }

}

@media screen and (max-width:767px) {
  .each-product-image {
    width: 280px;
    height: 280px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px
  }
}