.personal-description-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%
}

@media screen and (max-width:650px) {
  .personal-description-container {
    flex-direction: column
  }
}