@font-face {
  font-family: 'Segoe UI light';
  font-style: normal;
  font-weight: normal;
  src: local('Segoeuil'), url('./font/segoeuil.ttf') format('ttf')
}


body {

  font-family: 'Segoe UI light'
}